<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weatherapp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <nav>

            <span>
                weatherapp
            </span>
            <span class="links">
                <a href="https://github.com/anshumancodes/weatherapp/blob/main/README.md">about</a>
                <a href="https://github.com/anshumancodes/weatherapp/">code</a>
            </span>
        </nav>
    </header>
    <main>
        <div class="user">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder=" Enter your city" name="city" id="searchcity">
                <!-- <button type="submit">Search</button> -->
            </form>
            <span class="cityname">{{city}} {{country}}</span>


        </div>
        <div class="data">
            <div class="daynddate" ><span>date:</span>
                <a href="" name="timezone">{{data.date}}</a>

            </div>
            <div class="temp">
                <span class="material-icons graphics">
                    filter_drama
                </span>
                <a href="" name="temperature">{{data.temperature}}</a>
                <div class="sky" name="sky">
                    {{sky}}
                </div>
            </div>
            <div class="otherdetails">
               <span>
                <a href="">Humidity</a>
                <a href="" name="Humidity">{{data.Humidity}}%</a>
               </span>
               <span>
                <a href="">Windspeed</a>
                <a href="" name="Windspeed">{{data.Windspeed}}</a>
               </span>
            </div>


        </div>
    </main>
<script>
   
    
</script>
</body>

</html>